.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  justify-content: center;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  border-radius: 18px;
  width: 20rem;
  height: 32rem;

}

.boximg>img {
  flex-wrap: wrap;
  margin: 1em auto;
  display: flex;
  /* height: auto; */
  width: 89%;
  height: 89%;
  border-radius: 10px;
}

.text {
  font-family: Manrope;
  font-size: 20px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;

}

.text1 {
  font-weight: bold;
  line-height: 22px;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.text2 {

  color: #BDC1CAFF;
  font-weight: 10px;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}